<?xml version='1.0' encoding='utf-8'?>
<widget id="com.stilugames.jabaliespacial" version="1.0.10" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <feature name="CDVWebViewEngine">
        <param name="ios-package" value="CDVWebViewEngine" />
    </feature>
    <feature name="LaunchScreen">
        <param name="ios-package" value="CDVLaunchScreen" />
    </feature>
    <feature name="LocalStorage">
        <param name="ios-package" value="CDVLocalStorage" />
    </feature>
    <feature name="Console">
        <param name="ios-package" value="CDVLogger" />
        <param name="onload" value="true" />
    </feature>
    <feature name="HandleOpenUrl">
        <param name="ios-package" value="CDVHandleOpenURL" />
        <param name="onload" value="true" />
    </feature>
    <feature name="IntentAndNavigationFilter">
        <param name="ios-package" value="CDVIntentAndNavigationFilter" />
        <param name="onload" value="true" />
    </feature>
    <feature name="GestureHandler">
        <param name="ios-package" value="CDVGestureHandler" />
        <param name="onload" value="true" />
    </feature>
    <allow-navigation href="ionic://*" />
    <feature name="IonicWebView">
        <param name="ios-package" value="CDVWKWebViewEngine" />
    </feature>
    <feature name="CDVOrientation">
        <param name="ios-package" value="CDVOrientation" />
    </feature>
    <feature name="AdMob">
        <param name="ios-package" value="AMBPlugin" />
    </feature>
    <feature name="Consent">
        <param name="ios-package" value="CSNConsent" />
    </feature>
    <feature name="InAppPurchase">
        <param name="ios-package" value="InAppPurchase" />
        <param name="onload" value="true" />
    </feature>
    <name>Jabali Espacial</name>
    <content src="index.html" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />
    <icon height="180" src="www/iOS2.png" width="180" />
    <icon height="60" src="www/iOS13.png" width="60" />
    <icon height="120" src="www/iOS6.png" width="120" />
    <icon height="76" src="www/iOS11.png" width="76" />
    <icon height="152" src="www/iOS4.png" width="152" />
    <icon height="40" src="www/iOS17.png" width="40" />
    <icon height="80" src="www/iOS10.png" width="80" />
    <icon height="57" src="www/iOS15.png" width="57" />
    <icon height="114" src="www/iOS7.png" width="114" />
    <icon height="72" src="www/iOS12.png" width="72" />
    <icon height="144" src="www/iOS5.png" width="144" />
    <icon height="29" src="www/iOS18.png" width="29" />
    <icon height="58" src="www/iOS14.png" width="58" />
    <icon height="87" src="www/iOS9.png" width="87" />
    <icon height="50" src="www/iOS16.png" width="50" />
    <icon height="20" src="www/iOS19.png" width="20" />
    <icon height="100" src="www/iOS8.png" width="100" />
    <icon height="167" src="www/iOS3.png" width="167" />
    <icon height="1024" src="www/IconoiOS.png" width="1024" />
    <preference name="AllowInlineMediaPlayback" value="false" />
    <preference name="DisallowOverscroll" value="false" />
    <preference name="EnableViewportScale" value="false" />
    <preference name="MediaTypesRequiringUserActionForPlayback" value="none" />
    <preference name="SuppressesIncrementalRendering" value="false" />
    <preference name="SuppressesLongPressGesture" value="false" />
    <preference name="Suppresses3DTouchGesture" value="false" />
    <preference name="deployment-target" value="11.0" />
    <preference name="CordovaWebViewEngine" value="CDVWKWebViewEngine" />
    <preference name="AndroidXEnabled" value="true" />
    <preference name="BackgroundColor" value="0xff000000" />
    <preference name="Fullscreen" value="true" />
    <preference name="phonegap-version" value="cli-9.0.0" />
    <preference name="SwiftVersion" value="5.3" />
</widget>
